body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  cursor: default;
  color: black; }

input {
  outline: none; }

button {
  cursor: pointer;
  outline: none;
  border: none; }

.link {
  cursor: pointer; }

.app {
  font-family: "Noto Sans", sans-serif;
  cursor: default; }
