.home
  width: 500px
  margin: auto
  article
    margin: 0 auto 25px auto
  .title
    text-align: center
    font-size: 24px
    margin-top: 250px
  .player
    input
      font-size: 20px
      border-radius: 20px
  .games
    display: flex
    justify-content: center
    margin: auto
    button
      margin: 0 10px
    .games-dropdown
      max-height: 300px
      overflow-y: scroll
      